*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-family: "Roboto Mono", monospace;
  color: #00adee;
  margin: 10px 20px;
}

span {
  font-weight: 300;
  color: black;
}

svg {
  width: 25px;
  height: 25px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid magenta;
}

header svg {
  margin: 10px 20px;
}
