*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 22px;
}

h1 {
  font-family: "Roboto Mono", monospace;
  color: #00adee;
}

h2 {
  font-size: 16px;
  margin: 0 0 0 20px;
  display: inline-block;
}

span {
  font-weight: 300;
  color: black;
}

svg {
  width: 25px;
  height: 25px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid magenta;
}

h1,
h3,
p,
header svg {
  margin: 10px 20px;
}

h2 + p {
  display: inline-block;
}

section > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div:nth-child(2) {
  justify-content: flex-start;
  align-items: center;
}

div > svg {
  margin-left: 20px;
}

svg + p {
  margin: 0 0 0 4px;
  font-size: 18px;
}

article {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* padding: 0 10px; */
}

.cast-photo {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  width: 30vw;
  height: 30vw;
  margin-right: 20px;
  margin-bottom: 70px;
  padding-top: 100px;
  display: inline-block;
}

.cast-photo > p {
  /* background-color: lightgray; */
  color: #000;
  padding: 4px;
  text-align: center;
  margin-bottom: 60px;
}

.will-ferrell {
  background-image: url("./images/WillFerrell.jpg");
}

.christina-applegate {
  background-image: url("./images/ChristinaApplegate.jpg");
}

.steve-carell {
  background-image: url("./images/SteveCarrell.jpg");
  background-position: -20px 0;
}

.paul-rudd {
  background-image: url("./images/PaulRudd.jpg");
  background-position: -46px 0;
}

.david-koechner {
  background-image: url("./images/DavidKoechner.jpg");
  background-position: -46px 0;
}

.fred-willard {
  background-image: url("./images/Fred-Willard.jpg");
}

section + h3 {
  margin-bottom: 30px;
}

h3 + section {
  max-width: 90vw;
  margin: 0 auto 60px auto;
  /* padding-left: 20px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.suggested-movie {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  width: 138px;
  height: 204px;
  margin-bottom: 20px;
}

.step-brothers {
  background-image: url("./images/Stepbrothers.jpg");
}

.virgin {
  background-image: url("./images/40yearoldvirgin.jpg");
}

.bad-moms {
  background-image: url("./images/badmoms.jpg");
}

.anchorman2 {
  background-image: url("./images/Anchorman2.jpg");
}

footer {
  background-color: black;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

li {
  list-style-type: none;
  font-size: 14px;
}
